# Entorno virtual
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/
*.ipynb_checkpoints

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Datos sensibles
*.csv
*.db
*.sqlite
